.logo {
    font-size: 24px;
    /* Kích thước chữ */
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logo .gym {
    color: white;
    /* Màu chữ trắng */
}

.logo .connect {
    color: orange;
    /* Màu chữ cam */
}

.logo .gymblack {
    color: rgb(0, 0, 0);

}